@using LMS.Core.Enums;

@model LMS.Application.Contracts.DTOs.Transection.AddTransectionDto

@{
    ViewData["Id"] = "addTransectionModel";
    ViewData["ModelTitle"] = "Add Check-outs";

    bool useLayout = ViewData["UseLayout"] as bool? ?? true;
    Layout = useLayout ? "~/Views/Shared/_ModalLayout.cshtml" : null;

    var isAdmin = User.Identity.IsAuthenticated && User.IsInRole(nameof(RoleListEnum.Admin));
}

<style>
    @@media (min-width: 500px) {
        .add-transection-form-col {
            flex: 1 0 0%;
        }
    }
</style>

<form asp-action="AddTransection" class="needs-validation" id="addTransectionForm" method="post">
    <div class="d-flex justify-content-end gap-3 mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" id="IsDefaultDueDate" type="checkbox" asp-for="IsDefaultDueDate" checked>
            <label class="form-check-label" asp-for="IsDefaultDueDate">Default Due date</label>
        </div>
        <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="right" title="For default update renew count based on the status of the check-out or just keep same value as the field contain">
            <input class="form-check-input" id="IsCountRenew" type="checkbox" asp-for="IsCountRenew" checked>
            <label class="form-check-label" asp-for="IsCountRenew">Count Renew?</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 add-transection-form-col">
            <div class="did-floating-label-content">
                <select id="add-transection-form-userId"
                        class="did-floating-select select2-single"
                        asp-items="@Model.Users"
                        asp-for="UserId"
                        onclick="this.setAttribute('value', this.value);"
                        onchange="this.setAttribute('value', this.value);"
                        value="">
                    <option value=""></option>
                </select>
                <label asp-for ="UserId" class="did-floating-label">User</label>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 add-transection-form-col">
            <div class="did-floating-label-content">
                <select id="add-transection-form-bookId"
                        class="did-floating-select select2-single"
                        asp-items="@Model.Books"
                        asp-for="BookId"
                        onclick="this.setAttribute('value', this.value);"
                        onchange="this.setAttribute('value', this.value);"
                        value="">
                    <option value=""></option>
                </select>
                <label asp-for="BookId" class="did-floating-label">Book</label>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 add-transection-form-col">
            <div class="did-floating-label-content">
                <select id="add-transection-form-statusId"
                        class="did-floating-select select2-single"
                        asp-items="@Model.TransectionStatusList"
                        asp-for="StatusId"
                        onclick="this.setAttribute('value', this.value);"
                        onchange="this.setAttribute('value', this.value);"
                        value="">
                    <option value=""></option>
                </select>
                <label asp-for="StatusId" class="did-floating-label">Status</label>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md add-transection-form-col">
            <div class="did-floating-label-content">
                <input asp-for="BorrowDate" type="datetime-local" class="did-floating-input" id="borrowDate" value='@DateTime.UtcNow.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' max='@DateTime.UtcNow.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
                <label asp-for="BorrowDate" class="did-floating-label">Borrow Date<sup class="text-danger">*</sup></label>
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md add-transection-form-col">
            <div class="did-floating-label-content">
                <input asp-for="RenewDate" type="datetime-local" class="did-floating-input" id="renewDate" max='@DateTime.UtcNow.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
                <label asp-for="RenewDate" class="did-floating-label">Renew Date</label>
                <span asp-validation-for="RenewDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md add-transection-form-col">
            <div class="did-floating-label-content">
                <input asp-for="RenewCount" type="number" class="did-floating-input restrict-dot" id="renewCount" placeholder="" />
                <label asp-for="RenewCount" class="did-floating-label">Renew Count</label>
                <span asp-validation-for="RenewCount" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md add-transection-form-col">
            <div class="did-floating-label-content">
                <input asp-for="DueDate" type="datetime-local" class="did-floating-input" id="dueDate" placeholder="" />
                <label asp-for="DueDate" class="did-floating-label">Due Date</label>
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
        </div>
        <div class="add-transection-form-col">
            <div class="did-floating-label-content">
                <input asp-for="ReturnDate" type="datetime-local" class="did-floating-input" id="returnDate" max='@DateTime.UtcNow.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
                <label asp-for="ReturnDate" class="did-floating-label">Return Date</label>
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="add-transection-form-col">
        <div class="did-floating-label-content">
            <input asp-for="LostClaimDate" type="datetime-local" class="did-floating-input" id="lostClaimDate" max='@DateTime.UtcNow.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
            <label asp-for="LostClaimDate" class="did-floating-label">Lost Claim Date</label>
            <span asp-validation-for="LostClaimDate" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-submit w-100 mt-3 mb-2" id="add-transection-btn">Add Transaction</button>
</form>

<script>
    $(document).ready(function ()
    {
        removeSingleDropdownValueAttr('#addTransectionForm #add-transection-form-userId');
        removeSingleDropdownValueAttr('#addTransectionForm #add-transection-form-bookId');
        removeSingleDropdownValueAttr('#addTransectionForm #add-transection-form-statusId');
        
        toggleDueDate("#IsDefaultDueDate");
        toggleRenewCount("#IsCountRenew");
        toggleReturnDate("#add-transection-form-statusId", "");
        toggleRenewDate("#add-transection-form-statusId", "");
        toggleLostClaimDate("#add-transection-form-statusId", "");

        if ('@isAdmin'.toLowerCase() == 'true')
            enableField("#addTransectionForm #IsCountRenew");
        else
            readonlyField("#addTransectionForm #IsCountRenew");

        if ($('#addTransectionModel').length && $('#addTransectionModel').is(':hidden'))
        {
            $('#addTransectionModel').modal('show');
        }

        $("#IsDefaultDueDate").off("change").on("change", function () { toggleDueDate(this); });
        $("#IsCountRenew").off("change").on("change", function () { toggleRenewCount(this); });
        $("#add-transection-form-statusId").on("change", function () 
        { 
            toggleReturnDate(this, ""); 
            toggleRenewDate(this, ""); 
            toggleLostClaimDate(this, "");
        });

        $("#borrowDate").off("change").on("change", function () { validateDates(this); });
        $("#dueDate").off("change").on("change", function () { validateDates(this); });
        $("#returnDate").off("change").on("change", function () { validateDates(this); });
        $("#renewDate").off("change").on("change", function () { validateDates(this); });
        $("#lostClaimDate").off("change").on("change", function () { validateDates(this); });

    });

    $(document).off("submit", "#addTransectionForm").on("submit", "#addTransectionForm", function (event)
    {
        event.preventDefault();
        toggleButtonState('#add-transection-btn', true, 'color-purple btn-submit');

        if ($(this).valid())
        {
            let formData = new FormData(this);
            this.reset();

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response, status, xhr)
                {
                    if (xhr.getResponseHeader("content-type").toLowerCase().includes("text/html"))
                    {
                        $("#addTransectionModel .modal-body").html(response);
                    } else if (response.success)
                    {
                        window.location.href = response.visit;
                    }
                },
                complete: function ()
                {
                    toggleButtonState('#add-transection-btn', false, 'color-purple btn-submit');
                }
            });
        } else
        {
            toggleButtonState('#add-transection-btn', false, 'color-purple btn-submit');
        }
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}