@using LMS.Presentation.HTMLHelper;
@using LMS.Core.Enums;

@model LMS.Application.Contracts.DTOs.PaginatedResponseDto<LMS.Application.Contracts.DTOs.Transection.GetTransectionDto>

@{
    ViewData["Title"] = "GetTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var returnStatus = nameof(TransectionStatusEnum.Returned);
    var cancleStatus = nameof(TransectionStatusEnum.Cancelled);
    var lostStatus = nameof(TransectionStatusEnum.ClaimedLost);

    var returnStatusId = (long)TransectionStatusEnum.Returned;
    var cancleStatusId = (long)TransectionStatusEnum.Cancelled;
    var renewStatusId = (long)TransectionStatusEnum.Renewed;
    var loastClaimStatusId = (long)TransectionStatusEnum.ClaimedLost;
}

<style>
    th {
        position: relative;
    }
</style>

<script src="~/js/sorting.js" asp-append-version="true"></script>
<script src="~/js/filterSelector.js" asp-append-version="true"></script>

@Html.Heading("Check-out Books Information")
<div class="container-fluid my-1">
    <div class="d-flex justify-content-end px-3 my-3 gap-3">
        <div>
            <a class="btn btn-submit color-purple" id="transection-add-btn">Create Check-out's</a>
        </div>
        <div>
            <a asp-area="" asp-controller="Transection" asp-action="GetExportTransections" class="btn btn-submit color-purple">Export Check-out's</a>
        </div>
        @if (User.Identity.IsAuthenticated && User.IsInRole(nameof(RoleListEnum.Admin)))
        {
            <div class="did-floating-label-content m-0 w-15">
                <select class="did-floating-select select2-single filter-options" data-params="activeData" id="data-selection-option" value="">
                    <option value="">Removed and Active Data</option>
                    <option value="true">Active Data</option>
                    <option value="false">Removed Data</option>
                </select>
            </div>
        }
        <div class="did-floating-label-content  m-0 w-15">
            <select id="get-transection-form-userId"
                    class="did-floating-select select2-single filter-options" 
                    data-params="user"
                    asp-items="@(Model.Selections.ContainsKey("Users") ? Model.Selections["Users"] : new List<SelectListItem>())"
                    onclick="this.setAttribute('value', this.value);"
                    onchange="this.setAttribute('value', this.value);"
                    value="">
                <option value=""></option>
            </select>
            <label class="did-floating-label">User</label>
        </div>
        <div class="did-floating-label-content  m-0 w-15">
            <select id="get-transection-form-bookId"
                    class="did-floating-select select2-single filter-options" 
                    data-params="book"
                    asp-items="@(Model.Selections.ContainsKey("Books") ? Model.Selections["Books"] : new List<SelectListItem>())"
                    onclick="this.setAttribute('value', this.value);"
                    onchange="this.setAttribute('value', this.value);"
                    value="">
                <option value=""></option>
            </select>
            <label class="did-floating-label">Book</label>
        </div>
    </div>
    <div class="table-responsive scrollable-table">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="px-3">User</th>
                    <th class="sortable-header" data-field="BookName">Book</th>
                    <th class="sortable-header text-center" data-field="StatusLabel">Status</th>
                    <th class="text-center">Has Penalty?</th>
                    <th class="sortable-header text-center" data-field="BorrowDate">Borrow Date</th>
                    <th class="sortable-header text-center" data-field="RenewCount">Renew Count</th>
                    <th class="sortable-header text-center" data-field="RenewDate">Renew Date</th>
                    <th class="sortable-header text-center" data-field="DueDate">Due Date</th>
                    <th class="sortable-header text-center" data-field="ReturnDate">Return Date</th>
                    <th class="sortable-header text-center" data-field="ReturnDate">Lost Claim Date</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Data is not null && Model.Data.Any())
                {
                    @foreach (var item in Model.Data)
                    {
                        <tr class="@(item.IsRemoved ? "bg-color-danger" : "bg-color-default")">
                            <td>
                                <div class="d-flex justify-content-between gap-3 transection-details-table">
                                    @if (User.Identity.IsAuthenticated && (User.IsInRole(nameof(RoleListEnum.Librarian)) || User.IsInRole(nameof(RoleListEnum.Admin))) && !item.IsRemoved)
                                    {
                                        <a class="color-purple bi-hover-bold transection-actionById-btn" 
                                            asp-area="" 
                                            asp-controller="Transection"
                                            asp-action="GetTransectionDetailById"
                                            data-transection-id="@item.Id" 
                                            data-bs-toggle="tooltip" 
                                            data-bs-placement="right"
                                            title="Detail">
                                        <i class="bi bi-exclamation-circle"></i></a>

                                        <a class="color-purple bi-hover-bold transection-actionById-btn"
                                            asp-area=""
                                            asp-controller="Transection" 
                                            asp-action="UpdateTransection"
                                            data-transection-id="@item.Id"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="right"
                                            title="Edit">
                                        <i class="bi bi-pencil-square"></i></a>
                                    }

                                    @if (User.Identity.IsAuthenticated && User.IsInRole(nameof(RoleListEnum.Admin)))
                                    {
                                        @if (!item.IsRemoved)
                                        {
                                            <a class="color-purple bi-hover-bold transection-claimLost-btn" 
                                                asp-area="" 
                                                asp-controller="Transection" 
                                                asp-action="ClaimLostBorrowBook"
                                                data-transection-id="@item.Id"
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="right" 
                                                title="Claim Lost">
                                            <i class="bi bi-bookmark-x"></i></a>

                                            <a class="color-purple bi-hover-bold transection-delete-btn" 
                                                asp-area="" 
                                                asp-controller="Transection" 
                                                asp-action="RemoveTransection" 
                                                data-transection-id="@item.Id" 
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="right"
                                                title="Delete">
                                            <i class="bi bi-trash3"></i></a>    
                                        }

                                        <a class="color-purple bi-hover-bold transection-actionById-btn"
                                            asp-area=""
                                            asp-controller="Log"
                                            asp-action="GetTransectionAuditHistoryByTransectionId"
                                            data-transection-id="@item.Id"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="right"
                                            title="History">
                                        <i class="bi bi-clock-history"></i></a>

                                        @if (item.IsRemoved)
                                        {
                                            @* restore *@
                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                <img src="@item.UserProfilePhoto" alt="User" width="20" height="20" class="rounded-circle border-dark border-1 mx-1" /> @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BookName)
                            </td>
                            <td class="text-center">
                                <div class="status-clip @(item.StatusLabelColor != null ? "dynamic-style" : "default-style")"
                                     style="--bgcolor:@item.StatusLabelBgColor; --textcolor:@item.StatusLabelColor;">
                                    @Html.DisplayFor(modelItem => item.StatusLabel)
                                </div>
                            </td>
                            <td class="text-center">
                                @if (item.HasPenalty == true)
                                {
                                    <i class="bi bi-check2 color-purple"></i>
                                }
                                else
                                {
                                    <i class="bi bi-x-lg color-purple"></i>
                                }
                            </td>
                            <td class="text-center">
                                @item.BorrowDate.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt")
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.RenewCount)
                            </td>
                            <td class="text-center">
                                @(item.RenewDate?.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt") ?? "-")
                            </td>
                            <td class="text-center">
                                @item.DueDate.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt")
                            </td>
                            <td class="text-center">
                                @(item.ReturnDate?.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt") ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.LostClaimDate?.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt") ?? "-")
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="11" class="text-center border-0">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @{
        await Html.RenderPartialAsync("_PaginationPartial", Model.Pagination);
    }
</div>

<div id="transectionContainer"></div>
<div id="confirmationModalContainer">
    @await Html.PartialAsync("_ConfirmationBoxModelPartial")
</div>

<script>
    $(document).ready(function ()
    {
        var successToastMessage = '@TempData["SuccessToast"]';
        var errorToastMessage = '@TempData["ErrorToast"]';

        if (successToastMessage)
        {
            toastr.success(successToastMessage, "Success");
        }
        else if (errorToastMessage)
        {
            toastr.error(errorToastMessage, "Error");
        }

        var penaltyLookup = @Html.Raw(Json.Serialize(Model.Data?.ToDictionary(m => m.Id, m => m.HasPenalty)));
        var statusLookup = @Html.Raw(Json.Serialize(Model.Data?.ToDictionary(m => m.Id, m => m.StatusLabel)));

        $(".transection-delete-btn").each(function ()
        {
            var transectionId = $(this).data("transection-id");
            var hasPenalty = penaltyLookup[transectionId];
            var status = statusLookup[transectionId];

            if (hasPenalty)
            {
                $(this).addClass("btn-submit-disabled")
                    .attr("title", "Disabled due to penalty restrictions")
                    .removeAttr("data-transection-id");

            }
            if (status != "@returnStatus" && status != "@cancleStatus" && status != "@lostStatus")
            {
                $(this).addClass("btn-submit-disabled")
                    .attr("title", "Disabled due to book is occupied")
                    .removeAttr("data-transection-id");
            }
        });

        var activeStatusLookup = @Html.Raw(Json.Serialize(Model.Data?.ToDictionary(m => m.Id, m => !new[] { nameof(TransectionStatusEnum.Cancelled), nameof(TransectionStatusEnum.Returned), nameof(TransectionStatusEnum.ClaimedLost) }.Contains(m.StatusLabel))));

        $(".transection-claimLost-btn").each(function ()
        {
            var id = $(this).data("transection-id");
            var isActiveDate = activeStatusLookup[id];

            if (!isActiveDate)
            {
                $(this).addClass("btn-submit-disabled")
                    .attr("title", "Disabled due to transaction is not active")
                    .removeAttr("data-transection-id");
            }
        });

        $('#transection-add-btn').off("click").on("click", function ()
        {
            event.preventDefault();
            toggleButtonState('#transection-add-btn', true, 'color-purple btn-submit');

            $.ajax({
                url: '@Url.Action("AddTransection", "Transection")',
                type: 'GET',
                contentType: 'application/json',
                success: function (result)
                {
                    $('#transectionContainer').html(result);
                }
            });
            toggleButtonState('#transection-add-btn', false, 'color-purple btn-submit');
        });

        $('.transection-details-table .transection-delete-btn').off("click").on("click", function (event)
        {
            event.preventDefault();
            $(this).addClass("btn-submit-disabled");

            var transectionId = $(this).data('transection-id');

            if (transectionId !== undefined)
            {
                var message = "Are you sure you want delete this transaction?";
                setProceedButtonHref(this, message, "id=" + transectionId);
            }

            $(this).removeClass("btn-submit-disabled");
        });

        $('.transection-details-table .transection-claimLost-btn').off("click").on("click", function (event)
        {
            event.preventDefault();
            $(this).addClass("btn-submit-disabled");

            var transectionId = $(this).data('transection-id');

            if (transectionId !== undefined)
            {
                var message = "Are you sure you want claim for lost in this transaction?";
                setProceedButtonHref(this, message, "id=" + transectionId);
            }

            $(this).removeClass("btn-submit-disabled");
        })

        $('.transection-details-table .transection-actionById-btn').off("click").on("click", function (event)
        {
            event.preventDefault();
            $(this).addClass("btn-submit-disabled");

            var transectionId = $(this).data('transection-id');

            if (transectionId !== undefined)
            {
                $.ajax({
                    url: $(this).attr("href"),
                    data: { id: transectionId },
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (result)
                    {
                        $('#transectionContainer').html(result);
                    }
                });
            }
            
            $(this).removeClass("btn-submit-disabled");
        });
    });

    function validateDates(triggeredField)
    {
        let borrowDate = new Date($("#borrowDate").val());
        let dueDate = new Date($("#dueDate").val());
        let returnDate = new Date($("#returnDate").val());
        let renewDate = new Date($("#renewDate").val());
        let lostClaimDate = new Date($("#lostClaimDate").val());

        if (!isNaN(borrowDate))
        {
            if (!isNaN(dueDate) && ((typeof renewDate !== "undefined" && renewDate !== null && !isNaN(renewDate) && renewDate > dueDate) || borrowDate > dueDate))
            {
                toastr.error("Borrow Date and Renew Date must be earlier than Due Date!", "Error");
                $(triggeredField).val("");
            }
            if (!isNaN(returnDate) && ((typeof renewDate !== "undefined" && renewDate !== null && !isNaN(renewDate) && renewDate > returnDate) || borrowDate > returnDate))
            {
                toastr.error("Borrow Date and Renew Date must be earlier than Return Date!", "Error");
                $(triggeredField).val("");
            }
            if (!isNaN(renewDate) && borrowDate > renewDate)
            {
                toastr.error("Borrow Date must be earlier then Renew Date!", "Error");
                $(triggeredField).val("");
            }
            if (!isNaN(lostClaimDate) && borrowDate > lostClaimDate)
            {
                toastr.error("Borrow Date must be earlier then LostClaim Date!", "Error");
                $(triggeredField).val("");
            }
        }
    }

    function toggleReturnDate(triggeredField, oldValue)
    {
        if (Number($(triggeredField).val()) != @returnStatusId && Number($(triggeredField).val()) != @cancleStatusId)
        {
            $("#returnDate").val(oldValue).prop("readonly", true);
        } else
        {
            $("#returnDate").prop("readonly", false);
        }
    }

    function toggleRenewDate(triggeredField, oldValue)
    {
        if (Number($(triggeredField).val()) != @renewStatusId && Number($(triggeredField).val()) != @cancleStatusId)
        {
            $("#renewDate").val(oldValue).prop("readonly", true);
        } else
        {
            $("#renewDate").prop("readonly", false);
        }
    }

    function toggleLostClaimDate(triggeredField, oldValue)
    {
        if (Number($(triggeredField).val()) != @loastClaimStatusId)
        {
            $("#lostClaimDate").val(oldValue).prop("readonly", true);
        } else
        {
            $("#lostClaimDate").prop("readonly", false);
        }
    }

    function toggleDueDate(triggeredField, oldBorrowDate = null, oldDueDate = null)
    {
        let newBorrowDate = $("#borrowDate").val();

        if ($(triggeredField).prop("checked"))
        {
            if (oldDueDate && newBorrowDate === oldBorrowDate)
                $("#dueDate").val(oldDueDate).prop("readonly", true);
            else
                $("#dueDate").val("").prop("readonly", true);
        } else
        {
            $("#dueDate").prop("readonly", false);
        }
    }

    function toggleRenewCount(triggeredField, oldRenewCount = null)
    {
        if ($(triggeredField).prop("checked"))
        {
            if (oldRenewCount)
                $("#renewCount").val(oldRenewCount).prop("readonly", true);
            else
                $("#renewCount").val(0).prop("readonly", true);
        } else
        {
            $("#renewCount").prop("readonly", false);
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}