@model LMS.Application.Contracts.DTOs.PaginatedResponseDto<LMS.Application.Contracts.DTOs.Log.UserMembershipMappingHistoryDto>

@{
    ViewData["Id"] = "getUserMembershipHistoryByIdModal";
    ViewData["ModelTitle"] = "User Membership History";

    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

<style>
    th {
        position: relative;
    }
</style>

<div class="container-fluid my-1">
    <div class="d-flex justify-content-end mb-3 gap-3">
        <div class="did-floating-label-content m-0">
            <input type="date" value='@DateTime.UtcNow.ToLocalTime().AddMonths(-1).ToString("yyyy-MM-dd")' class="did-floating-input date-filter" placeholder="" />
            <label class="did-floating-label">Start Date</label>
        </div>
        <div class="did-floating-label-content m-0">
            <input type="date" value='@DateTime.UtcNow.ToLocalTime().ToString("yyyy-MM-dd")' class="did-floating-input date-filter" placeholder="" />
            <label class="did-floating-label">End Date</label>
        </div>
        <div class="did-floating-label-content m-0 w-25">
            <select id="log-operation-select"
                    class="did-floating-select select2-single"
                    asp-items="@(Model.Selections.ContainsKey("LogOpeartions") ? Model.Selections["LogOpeartions"] : new List<SelectListItem>())"
                    onclick="this.setAttribute('value', this.value);"
                    onchange="this.setAttribute('value', this.value);"
                    value="">
                <option value=""></option>
            </select>
            <label class="did-floating-label">Log Opeartion</label>
        </div>
    </div>
    <div class="table-responsive scrollable-table">
        <table class="table" id="userMembershipLogTable" data-id="@ViewData["SelectedUserMembership"]">
            <thead>
                <tr>
                    <th class="text-center">Operations</th>
                    <th class="text-center">Log Type</th>
                    <th class="text-center">Log Time</th>
                    <th class="text-center">Performed By</th>
                    <th class="text-center">User</th>
                    <th class="text-center">Membership</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">Expiration Date</th>
                    <th class="text-center">Borrow Limit</th>
                    <th class="text-center">Reservation Limit</th>
                    <th class="text-center">Membership Cost</th>
                    <th class="text-center">Discount</th>
                    <th class="text-center">Paid Amount</th>
                </tr>
            </thead>
            <tbody>
                @if (Model is not null && Model.Data.Any())
                {
                    @foreach (var item in Model.Data)
                    {
                        <tr class="bg-color-default">
                            <td class="text-center">
                                @if (item.Operation != null)
                                {
                                    <div class="status-clip @(item.Operation != null ? "dynamic-style" : "default-style")"
                                         style="--bgcolor:@item.OperationBgColor; --textcolor:@item.OperationColor;">
                                        @Html.DisplayFor(modelItem => item.Operation)
                                    </div>
                                }
                                else
                                {
                                    @: -
                                }
                            </td>
                            <td class="text-center">
                                @if (item.LogType != null)
                                {
                                    <div class="status-clip @(item.LogType != null ? "dynamic-style" : "default-style")"
                                         style="--bgcolor:@item.LogTypeBgColor; --textcolor:@item.LogTypeColor;">
                                        @Html.DisplayFor(modelItem => item.LogType)
                                    </div>
                                }
                                else
                                {
                                    @: -
                                }
                            </td>
                            <td class="text-center">
                                @(item.LogTime?.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt") ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.PerformedBy ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.UserName ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.MembershipType ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.EffectiveStartDate?.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt") ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.ExpirationDate?.DateTime.ToString("dd-MM-yyyy hh:mm:ss tt") ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.BorrowLimit?.ToString() ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.ReservationLimit?.ToString() ?? "-")
                            </td>
                            <td class="text-center">
                                @(item.MembershipCost?.ToString() ?? "-")
                                @if (item.MembershipCost.HasValue)
                                {
                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                }
                            </td>
                            <td class="text-center">
                                @(item.Discount?.ToString() ?? "-")
                                @if (item.Discount.HasValue)
                                {
                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                }
                            </td>
                            <td class="text-center">
                                @(item.PaidAmount?.ToString() ?? "-")
                                @if (item.PaidAmount.HasValue)
                                {
                                    <i class="fa fa-inr" aria-hidden="true"></i>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="13" class="text-center border-0">No records found</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <a class="text-link text-decoration-none color-purple" asp-area="" asp-controller="Log" asp-action="GetUserMembershipsAuditHistory" asp-route-id="@ViewData["SelectedUserMembership"]">See more</a>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        readonlyField(".date-filter");

        if ($('#getUserMembershipHistoryByIdModal').length && $('#getUserMembershipHistoryByIdModal').is(':hidden'))
        {
            $('#getUserMembershipHistoryByIdModal').modal('show');
        }

        $('#log-operation-select').on("change", function ()
        {
            event.preventDefault();

            var logOperation = $(this).val();
            const userMembershipId = $("#userMembershipLogTable").data('id');

            $.ajax({
                url: '@Url.Action("GetUserMembershipAuditHistoryByUserMembershipId", "Log")',
                data: { id: userMembershipId, logOperation: logOperation, needJson: true },
                type: 'GET',
                contentType: 'application/json',
                success: function (response)
                {
                    let tableBody = $("#userMembershipLogTable tbody");
                    if (response && response.length > 0)
                    {
                        tableBody.empty();

                        response.forEach(function (item)
                        {
                            let row = `<tr class="bg-color-default">`;

                            if (item.operation != null && item.operation != undefined)
                            {
                                row += `
                                    <td class="text-center">
                                        <div class="status-clip ${item.operation != null ? "dynamic-style" : "default-style"}"
                                             style="--bgcolor:${item.operationBgColor}; --textcolor:${item.operationColor};">
                                            ${item.operation}
                                        </div>
                                    </td>`;
                            }
                            else
                            {
                                row += `<td class="text-center"> "-" </td>`;
                            }

                            if (item.logType != null && item.logType != undefined)
                            {
                                row += `
                                    <td class="text-center">
                                        <div class="status-clip ${item.logType != null ? "dynamic-style" : "default-style"}"
                                             style="--bgcolor:${item.logTypeBgColor}; --textcolor:${item.logTypeColor};">
                                            ${item.logType}
                                        </div>
                                    </td>`;
                            }
                            else
                            {
                                row += `<td class="text-center"> "-" </td>`;
                            }

                            row += `
                                    <td class="text-center">${formatDate(item.logTime)}</td>
                                    <td class="text-center">${item.performedBy ?? "-"}</td>
                                    <td class="text-center">${item.userName ?? "-"}</td>
                                    <td class="text-center">${item.membershipType ?? "-"}</td>
                                    <td class="text-center">${formatDate(item.effectiveStartDate)}</td>
                                    <td class="text-center">${formatDate(item.expirationDate)}</td>
                                    <td class="text-center">${item.borrowLimit ?? "-"}</td>
                                    <td class="text-center">${item.reservationLimit ?? "-"}</td>
                                    <td class="text-center">${item.membershipCost?.toFixed(2) ?? "-"}`;

                            if (item.membershipCost != null && item.membershipCost != undefined)
                            {
                                row += `<i class="fa fa-inr" aria-hidden="true"></i>`;
                            }

                            row += `
                                    </td>
                                    <td class="text-center">${item.discount?.toFixed(2) ?? "-"}`;

                            if (item.discount != null && item.discount != undefined)
                            {
                                row += `<i class="fa fa-inr" aria-hidden="true"></i>`;
                            }

                            row += `
                                    </td>
                                    <td class="text-center">${item.paidAmount?.toFixed(2) ?? "-"}`;

                            if (item.paidAmount != null && item.paidAmount != undefined)
                            {
                                row += `<i class="fa fa-inr" aria-hidden="true"></i>`;
                            }
                             
                            row += `</td></tr>`;

                            tableBody.append(row);
                        });
                    } else
                    {
                        tableBody.html('<tr><td colspan="13" class="text-center border-0">No records found</td></tr>');
                    }
                }
            });
        });
    });
</script>