@using LMS.Application.Services.Constants
@using LMS.Presentation.HTMLHelper;

@model IEnumerable<LMS.Application.Contracts.DTOs.Configs.GetConfigsValueDto>

@{
    ViewData["Title"] = "GetIntructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .instruction-card {
        background-color: #f9f5ff;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(90, 45, 130, 0.3);
    }
</style>

@Html.Heading("Instruction for you")
<div class="container-fluid my-4">
    <div class="instruction-card p-3">
        <div class="color-purple my-2">
            <div class="d-flex align-items-center">
                <hr class="flex-grow-1" />
                <h3 id="latter-heading" class="mb-0 mx-2 mb-2">Resource Instructions</h3>
                <hr class="flex-grow-1" />
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>User can hold assests as per their Current memberhsip plan limit: </span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.BorrowLimit))
                    {
                        <span>
                            You can hold @Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.BorrowLimit)?.KeyValue assests at a time</span>
                    }
                    else
                    {
                        <span>You haven't membership</span>
                    }
                </b>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>Once you hold the assests then after limited time </span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.BorrowDueDays))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.BorrowDueDays)?.KeyValue Days)</span>
                    }
                </b>
                <span> you need to return/renew the assets otherwise penalty is applied to your holding and increase by time.</span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>You may renew the asset up to a <b>predefined number of times</b></span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.MaxRenewCount))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.MaxRenewCount)?.KeyValue times). </span>
                    }
                </b>
                <span> Once the renewal limit is reached, you must return the asset and submit a new issuance request if further use is required.</span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>User can Reserve assests as per their Current memberhsip plan limit: </span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.ReservationLimit))
                    {
                        <span>
                            You can reserve @Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.ReservationLimit)?.KeyValue assests at a time</span>
                    }
                    else
                    {
                        <span>You haven't membership</span>
                    }
                </b>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>Once assests is allocated to your reservation then you have limited time </span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.AllocationDueDays))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.AllocationDueDays)?.KeyValue Days)</span>
                    }
                </b>
                <span> <b>to borrow/transfer it</b> after that your reservation automatically canceled.</span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>Once assests is allocated to your reservation and you <b>transfer it to other's then you get new allocation after some time</b></span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.DefaultAllocationDelayInDays))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.DefaultAllocationDelayInDays)?.KeyValue Days).</span>
                    }
                </b>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>Once assets are allocated to your reservation, you are permitted to <b>transfer them to others a limited number of times</b></span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.MaxTransferAllocationCount))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.MaxTransferAllocationCount)?.KeyValue times).</span>
                    }
                </b>
                <span>Upon exceeding this limit, you will need to either initiate a borrowing request or cancel the reservation. Otherwise, it will be automatically canceled once the allocation period ends.</span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>User can have only </span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.MaxActiveMembership))
                    {
                        <span>
                            @Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.MaxActiveMembership)?.KeyValue</span>
                    }
                </b>
                <span> <b>Active membership</b>in which <b>1</b> is active and next one will <b>became active after expiration</b> of active one in some time</span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.NextPlanActivationTimeInMinutes))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.NextPlanActivationTimeInMinutes)?.KeyValue Minutes).</span>
                    }
                </b>
            </div>
        </div>

        <div class="color-purple my-4">
            <div class="d-flex align-items-center">
                <hr class="flex-grow-1" />
                <h3 id="latter-heading" class="mb-0 mx-2 mb-2">Penalty Enforcement</h3>
                <hr class="flex-grow-1" />
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>After certain time </span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.BorrowDueDays))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.BorrowDueDays)?.KeyValue Days)</span>
                    }
                </b>
                <span> of the holding assets if you not return/renew penalty will applied on that holding.</span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>for the lost claim on the holding assest you get penalty with <b>actual amount of the assest</b>. </span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>Your <b>plan is expired and you haven't new plan</b> and also <b>hold assests based on the previous plan</b> then after some buffered time</span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.MembershipExpiryBufferDays))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.MembershipExpiryBufferDays)?.KeyValue Days)</span>
                    }
                </b>
                <span> penalty is applied based on the number of holding so in this time return the assests or purchase new plan for continue.</span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>If you have active plan but you <b>hold more assest then your current plan based on your previous plan</b> then you have buffer time </span>
                <b>
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.PreviousLimitCarryoverDays))
                    {
                        <span>
                            (@Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.PreviousLimitCarryoverDays)?.KeyValue Days)</span>
                    }
                </b>
                <span> to return assests or upgrade your current plan other wise penalty is applied based on your extra holding.</span>
            </div>
            <div class="px-1">
                <i class="bi bi-vector-pen fs-4"></i>
                <span>Penalty is calculated as bellow: ( </span>
                <span>
                    Base penalty: <b>
                        @(Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.BasePenaltyPerDay)?.KeyValue ?? "0") <i class="fa fa - inr" aria-hidden="true"></i> / Day</b>, </span>
                <span>
                    Interval Days: <b>
                        @(Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.PenaltyIncreaseDurationInDays)?.KeyValue ?? "0") Days</b>, </span>
                <span>
                    Increase Value: <b>
                        @(Model.FirstOrDefault(x => x.KeyName == ConfigKeysConstants.PenaltyIncreaseDurationInDays)?.KeyValue ?? "0") <i class="fa fa - inr" aria-hidden="true"></i> / Day</b></span>
                )
                <div class="bg-white rounded-4 mx-3 my-3 p-2">
                    @if (Model.Any(x => x.KeyName == ConfigKeysConstants.PenaltyIncreaseType && (x.KeyValue == " + " || x.KeyValue.Equals("add", StringComparison.InvariantCultureIgnoreCase))))
                    {
                        <div class ="pb-3">PenalizedItemCount is number of extra holding or in case of the overdue it's 1</div>
                        <div>Penalty per day = BasePenalty + (Interval × IncreaseValue)</div>
                        <div>TotalPenalty = ∑ [PenaltyPerDay × PenalizedItemCount] for each overdue day</div>
                    }
                    else @if (Model.Any(x => x.KeyName == ConfigKeysConstants.PenaltyIncreaseType && (x.KeyValue == " + " || x.KeyValue.Equals("add", StringComparison.InvariantCultureIgnoreCase))))
                    {
                        <div>// PenalizedItemCount is number of extra holding or in case of the overdue it's 1</div>
                        <div>Penalty per day = BasePenalty × (IncreaseValue ^ Interval)</div>
                        <div>TotalPenalty = ∑ [PenaltyPerDay × PenalizedItemCount] for each overdue day</div>
                    }
                    else
                    {
                        <span></span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>