@using LMS.Core.Enums;

@model LMS.Application.Contracts.DTOs.Reservation.UpdateReservationDto

@{
    ViewData["Id"] = "updateReservationModel";
    ViewData["ModelTitle"] = "Update Reservation";

    bool useLayout = ViewData["UseLayout"] as bool? ?? true;
    Layout = useLayout ? "~/Views/Shared/_ModalLayout.cshtml" : null;

    var allocateStatusId = (long)ReservationsStatusEnum.Allocated;
    var reservedStatusId = (long)ReservationsStatusEnum.Reserved;
}

<style>
    @@media (min-width: 500px) {
        .update-reservation-form-col {
            flex: 1 0 0%;
        }
    }
</style>

<form asp-action="UpdateReservation" class="needs-validation" id="updateReservationForm" method="post">
    <div class="d-flex justify-content-end gap-3 mb-3">
        <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="right" title="Define book is allocated to this reservation or not.">
            <input asp-for="IsAllocated" type="checkbox" class="form-check-input" id="IsAllocated">
            <label class="form-check-label" asp-for="IsAllocated">Is Allocated</label>
        </div>
        @if (Model.IsAllocated == true && Model.StatusId == allocateStatusId)
        {
            <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="right" title="For default Allocation after based on the configuration or keep same value as the field contain.">
                <input asp-for="IsAllocateAfterIsDefault" type="checkbox" class="form-check-input" id="IsAllocateAfterIsDefault">
                <label class="form-check-label" asp-for="IsAllocateAfterIsDefault">Default Allocated after?</label>
            </div>
        }
        <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="right" title="For default update transfer allocation count based on the status change from the allocation to reserve or just keep same value as the field contain">
            <input asp-for="IsCountTransferAllocation" type="checkbox" class="form-check-input" id="IsCountTransferAllocation">
            <label class="form-check-label" asp-for="IsCountTransferAllocation">Count Transfer Allocation?</label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 update-reservation-form-col">
            <div class="did-floating-label-content">
                <select id="update-reservation-form-userId"
                        class="did-floating-select select2-single"
                        asp-items="@Model.Users"
                        asp-for="UserId"
                        onclick="this.setAttribute('value', this.value);"
                        onchange="this.setAttribute('value', this.value);"
                        value="">
                    <option value=""></option>
                </select>
                <label asp-for="UserId" class="did-floating-label">User</label>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 update-reservation-form-col">
            <div class="did-floating-label-content">
                <select id="update-reservation-form-bookId"
                        class="did-floating-select select2-single"
                        asp-items="@Model.Books"
                        asp-for="BookId"
                        onclick="this.setAttribute('value', this.value);"
                        onchange="this.setAttribute('value', this.value);"
                        value="">
                    <option value=""></option>
                </select>
                <label asp-for="BookId" class="did-floating-label">Book</label>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md update-reservation-form-col">
            <div class="did-floating-label-content">
                <input asp-for="ReservationDate" type="datetime-local" class="did-floating-input" id="reservationDate" value='@Model.ReservationDate.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
                <label asp-for="ReservationDate" class="did-floating-label">Reservation Date<sup class="text-danger">*</sup></label>
                <span asp-validation-for="ReservationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md update-reservation-form-col">
            <div class="did-floating-label-content">
                <input asp-for="AllocateAfter" type="datetime-local" class="did-floating-input" id="allocateAfter" value='@Model.AllocateAfter?.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
                <label asp-for="AllocateAfter" class="did-floating-label">Allocate After</label>
                <span asp-validation-for="AllocateAfter" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 update-reservation-form-col">
            <div class="did-floating-label-content">
                <select id="update-reservation-form-statusId"
                        class="did-floating-select select2-single"
                        asp-items="@Model.ReservationStatusList"
                        asp-for="StatusId"
                        onclick="this.setAttribute('value', this.value);"
                        onchange="this.setAttribute('value', this.value);"
                        value="">
                    <option value=""></option>
                </select>
                <label asp-for="StatusId" class="did-floating-label">Status</label>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md update-reservation-form-col">
            <div class="did-floating-label-content">
                <input asp-for="TransferAllocationCount" type="number" class="did-floating-input restrict-dot" id="transferAllocationCount" placeholder="" />
                <label asp-for="TransferAllocationCount" class="did-floating-label">Transfer Allocation Count</label>
                <span asp-validation-for="TransferAllocationCount" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6 update-reservation-form-col">
            <div class="did-floating-label-content">
                <input asp-for="AllocatedAt" type="datetime-local" class="did-floating-input" id="allocateDate" value='@Model.AllocatedAt?.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
                <label asp-for="AllocatedAt" class="did-floating-label">Allocate Date</label>
                <span asp-validation-for="AllocatedAt" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 update-reservation-form-col">
            <div class="did-floating-label-content">
                <input asp-for="CancelDate" type="datetime-local" class="did-floating-input" id="cancelDate" value='@Model.CancelDate?.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")' placeholder="" />
                <label asp-for="CancelDate" class="did-floating-label">Cancel Date</label>
                <span asp-validation-for="CancelDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="my-2">
        <div class="did-floating-label-content">
            <textarea asp-for="CancelReason" class="did-floating-textarea" rows="2" placeholder="" id="cancleReason"></textarea>
            <label asp-for="CancelReason" class="did-floating-label">Cancle Reason</label>
            <span asp-validation-for="CancelReason" class="text-danger"></span>
        </div>
    </div>
    @if (Model.IsAllocated == true && Model.StatusId == allocateStatusId)
    {
        <div class="my-2" id="allocateAfter-warning">
            <i class="bi bi-exclamation-triangle-fill text-warning"></i>
            <span class="text-warning">If book is available then it re-allocate you if you not select future AllocateAfter date.</span>
        </div>
    }

    <button type="submit" class="btn btn-submit w-100 mt-3 mb-2" id="update-reservation-btn">Update Reservation</button>
</form>

<script>
    $(document).ready(function ()
    {
        var oldReservationDate = "@Model.ReservationDate.ToLocalTime().ToString("yyyy-MM-ddTHH:mm").Trim()";
        var oldAllocateAfterDate = "@Model.AllocateAfter?.ToLocalTime().ToString("yyyy-MM-ddTHH:mm").Trim()";
        var oldAllocateAtDate = "@Model.AllocatedAt?.ToLocalTime().ToString("yyyy-MM-ddTHH:mm").Trim()";
        var oldTransferAllocationCount = "@Model.TransferAllocationCount";

        removeSingleDropdownValueAttr('#updateReservationForm #update-reservation-form-userId');
        removeSingleDropdownValueAttr('#updateReservationForm #update-reservation-form-bookId');
        removeSingleDropdownValueAttr('#updateReservationForm #update-reservation-form-statusId');
        setSelect2OptionAccessibility('#updateReservationForm #update-reservation-form-statusId', ["@allocateStatusId"], true);

        var isAllocated = @Html.Raw(Json.Serialize(Model.IsAllocated));
        var statusId = @Html.Raw(Json.Serialize(Model.StatusId));

        if (!(isAllocated === true && statusId === allocateStatusId))
        {
            readonlyField("#updateReservationForm #IsAllocated");
        }
        else
        {
            readonlyField("#updateReservationForm #IsAllocateAfterIsDefault");
            toggleAllocationWarning("#updateReservationForm #IsAllocateAfterIsDefault");
        }

        readonlySelect2("#updateReservationForm #update-reservation-form-userId, #updateReservationForm #update-reservation-form-bookId");
        toggleCancleControlls("#update-reservation-form-statusId");
        toggleAllocateDate("#update-reservation-form-statusId", oldAllocateAtDate);

        toggleAllocationTransferCount("#IsCountTransferAllocation", oldTransferAllocationCount);
        toggleCountTransferAllocation("#update-reservation-form-statusId", @Model.StatusId == @allocateStatusId);

        if ($('#updateReservationModel').length && $('#updateReservationModel').is(':hidden'))
        {
            $('#updateReservationModel').modal('show');
        }

        $("#updateReservationForm #IsAllocated").off("change").on("change", function ()
        {
            toggleIsAllocateAfterIsDefault(this);
            toggleAllocateAfterDate("#IsAllocateAfterIsDefault", oldReservationDate, oldAllocateAfterDate);
            setStatus(this);
        });

        $("#updateReservationForm #IsAllocateAfterIsDefault").off("change").on("change", function () 
        { 
            toggleAllocateAfterDate(this, oldReservationDate, oldAllocateAfterDate);
            toggleAllocationWarning(this);
        });

        $("#IsCountTransferAllocation").off("change").on("change", function () { toggleAllocationTransferCount(this, oldTransferAllocationCount); });

        $("#update-reservation-form-statusId").on("change", function () 
        { 
            toggleAllocateDate(this, oldAllocateAtDate);
            toggleCancleControlls(this);
            toggleCountTransferAllocation(this, @Model.StatusId == @allocateStatusId);

            if ($(this).val() != '@allocateStatusId')
                $('#updateReservationForm #IsAllocated').prop("checked", false).trigger('change');
        });

        $("#reservationDate").off("change").on("change", function () { validateDates(this); });
        $("#allocateAfter").off("change").on("change", function () 
        { 
            validateDates(this); 
            toggleAllocationWarning("#updateReservationForm #IsAllocateAfterIsDefault");
        });
        $("#allocateDate").off("change").on("change", function () { validateDates(this); });
    });

    $(document).off("submit", "#updateReservationForm").on("submit", "#updateReservationForm", function (event)
    {
        event.preventDefault();
        toggleButtonState('#update-reservation-btn', true, 'color-purple btn-submit');

        if ($(this).valid())
        {
            let formData = new FormData(this);
            this.reset();

            formData.set("Id", @Model.Id);

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response, status, xhr)
                {
                    if (xhr.getResponseHeader("content-type").toLowerCase().includes("text/html"))
                    {
                        $("#updateReservationModel .modal-body").html(response);
                    } else if (response.success)
                    {
                        window.location.href = response.visit;
                    }
                },
                complete: function ()
                {
                    toggleButtonState('#update-reservation-btn', false, 'color-purple btn-submit');
                }
            });
        } else
        {
            toggleButtonState('#update-reservation-btn', false, 'color-purple btn-submit');
        }
    });

    function toggleIsAllocateAfterIsDefault(selector)
    {
        if ($(selector).prop("checked"))
        {
            readonlyField("#updateReservationForm #IsAllocateAfterIsDefault");
            $("#updateReservationForm #IsAllocateAfterIsDefault").prop("checked", false);
        }
        else
        {
            enableField("#updateReservationForm #IsAllocateAfterIsDefault");
            $("#updateReservationForm #IsAllocateAfterIsDefault").prop("checked", true);
        }
    }

    function toggleAllocateAfterDate(triggeredField, oldReservationDate, oldAllocateAfterDate)
    {
        let newReservationDate = $("#reservationDate").val();

        if ($(triggeredField).prop("checked"))
        {
            if (newReservationDate === oldReservationDate)
                $("#allocateAfter").val(oldAllocateAfterDate).prop("readonly", true);
            else
                $("#allocateAfter").val("").prop("readonly", true);
        } else
        {
            $("#allocateAfter").prop("readonly", false);
        }
    }

    function toggleAllocationWarning(switchSelector)
    {
        let allocateAfterDate = new Date($("#allocateAfter").val());

        if (
            allocateAfterDate <= new Date() &&
            $(switchSelector).prop("checked") === false &&
            $("#updateReservationForm #IsAllocated").prop("checked") === false
        )
        {
            $("#allocateAfter-warning").show();
        } else
        {
            $("#allocateAfter-warning").hide();
        }
    }

    function setStatus(switchSelector)
    {
        if ($(switchSelector).prop("checked"))
        {
            $('#updateReservationForm #update-reservation-form-statusId').val('@allocateStatusId').trigger('change');
        } else if ($('#updateReservationForm #update-reservation-form-statusId').val() === '@allocateStatusId')
        {
            $('#updateReservationForm #update-reservation-form-statusId').val('').trigger('change');
        }
    }

    function toggleCountTransferAllocation(selector, isOriginalAllocated)
    {
        var status = Number($(selector).val());
        $("#updateReservationForm #IsCountTransferAllocation").prop("checked", true).trigger("change");

        if (status == @reservedStatusId && isOriginalAllocated)
            enableField("#updateReservationForm #IsCountTransferAllocation");
        else
            readonlyField("#updateReservationForm #IsCountTransferAllocation");
    }

    function toggleAllocationTransferCount(selector, oldAllocationTransferCount)
    {
        if ($(selector).prop("checked"))
        {
            if (oldAllocationTransferCount)
                $("#transferAllocationCount").val(oldAllocationTransferCount).prop("readonly", true);
            else
                $("#transferAllocationCount").val(0).prop("readonly", true);
        } else
        {
            $("#transferAllocationCount").prop("readonly", false);
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}